/* Bootstrap overrides */

.btn-primary {
    background-color: #4e008e !important;
    border-color: #4e008e !important;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(78, 0, 142, .5);
}

.btn-info {
    background-color: #4e008e !important;
    border-color: #4e008e !important;
    box-shadow: none;
}

.btn-info:focus {
    box-shadow: 0 0 0 .2rem rgba(78, 0, 142, .5);
}

.form-control:focus {
    border-color: #4e008e !important;
    box-shadow: 0 0 0 .2rem rgba(78, 0, 142, .5);
}

a.nav-item.nav-link {
    color: rgba(78, 0, 142, .5);
}

a.nav-item.nav-link:hover {
    color: rgba(78, 0, 142, .75);
}

a.nav-item.nav-link.active, a.nav-item.nav-link.active:hover {
    color: #4e008e;
    background-color: rgba(78, 0, 142, .2);
}

.alert-info {
    color: #4e008e;
    background-color: #fff;
    border-color: #4e008e;
}

[class*="Alert-close"] {
    color: rgba(78, 0, 142, .75);
}

[class*="Alert-icon"] {
    opacity: 0.5 !important;
}

#spinner {
    padding-top: calc(50vh - 4rem);
}

.spinner-border {
    width: 8rem;
    height: 8rem;
    border: .5em solid #4e008e;
    border-right-color: transparent;
}

/* Misc. overrides */

body {
    background-color: rgba(78, 0, 142, .02);
}
