/* Component overrides */

#page {
    border-radius: 3pt;
    background-color: white;
    box-shadow: 1pt 1pt 10pt 2pt grey;
    border: 1pt solid grey;
    margin-top: 2em;
    padding: 2em;
}

#header {
    height: 15%;
    margin-bottom: 4em;
}
#profile-image {
    position: relative;
}

#profile-image img {
    position:absolute;
    right:5pt;
    max-height: 125pt;
    min-height: 50pt;
}

#content {
    height: 70%;
}

#content .row {
  margin-bottom: 1.5em;
}

#content .row + .row {
    padding-top: 1em;
    border-top: 1pt dashed rgba(78, 0, 142, 0.5);
}

#footer {
    overflow: hidden;
    height: 10%;
}

.title {
    font-weight: bold;
}

.item-controls {
    padding: 0;
}
