/* Component overrides */

#controls {
    border: 1pt solid #4e008e;
    background-color: rgba(78,0,142,.1);
    padding: 2em;
}

#controls .container-fluid > .row:first-child {
    margin-bottom: .5em;
}
