#editor {
    background-color: rgba(78,0,142,0.02);

}

.btn-primary {
    background-color: rgba(78,0,142,1);
    border-color: rgba(78,0,142,1);
}

.btn-primary:hover {
    background-color: rgba(78,0,142,0.3);
    border-color: rgba(78,0,142,0.3);
}

#page {
    border-radius: 3pt;
    background-color: white;
    box-shadow: 1px 1px 10px 2px grey;
    border: 1px solid grey;
    margin-top: 2em;
    padding: 2em;
}

#header {
    height: 15%;
    margin-bottom: 4em;
}

#content {
    height: 70%;
}

#content .row {
    margin-bottom: 1.5em;
}

#footer {
    overflow: hidden;
    height: 10%;
}

.title {
    font-weight: bold;
}

.item-controls {
    padding: 0;
}