/* Bootstrap overrides */

.navbar-brand {
    margin-left: 10pt;
}

.bg-dark {
    background-color: #4e008e !important;
}

/* Component overrides */

#ribbon {
    margin-bottom: 35pt;
}

#login_button {
    margin-right: 15pt;
}
