/* Bootstrap overrides */

.btn-toolbar .btn {
    margin-right: 5pt;
    margin-bottom: 5pt;
}

/* Component overrides */

#page {
    border-radius: 3pt;
    background-color: white;
    box-shadow: 1pt 1pt 10pt 2pt grey;
    border: 1pt solid grey;
    margin-top: 2em;
    padding: 2em;
}

.button-col {
    margin-top: 2em;
}

#timeline .timeline-item-tuni {
    background-color: rgba(78, 0, 142, 0.15)!important;
    border-color: #4e008e !important;
    box-shadow: none;
}

#timeline .timeline-item-work {
    background-color: rgba(0,255,0,0.1);
    border-color:rgba(0,255,0,0.5)
}

#timeline .timeline-item-education {
    background-color: rgba(0,0,255,0.1);
    border-color: rgba(0,0,255,0.5);

}

#timeline .timeline-item-projects {
    background-color: rgba(255,0,0, 0.1);
    border-color: rgba(255,0,0, 0.5);
}

#timeline .vis-tooltip {
    word-wrap: break-word;
    max-width: 100ch;
    white-space: normal;
    background-color: aliceblue;
    position: sticky;
}

#timeline {
    padding: 1%;
}
