/* Bootstrap */

.btn-toolbar .btn {
    margin-right: 5pt;
    margin-bottom: 5pt;
}

/* Component */

#background {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

#page {
    border-radius: 3pt;
    background-color: white;
    box-shadow: 1px 1px 10px 2px grey;
    border: 1px solid grey;
    margin-top: 2em;
    padding: 2em;
}

.button-col {
    margin-top: 2em;
}
#timeline .timeline-item-work {
    background-color: rgba(0,255,0, 0.1);
}

#timeline .timeline-item-education {
    background-color: rgba(0,0,255, 0.1);
}

#timeline .timeline-item-projects {
    border-color: rgba(255,0,0, 0.5);
}

#timeline {
    padding: 1%;
}